@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h2>Hi there!</h2>

        <p>Feel free to download the code, I will share it when I finish, this a site with educational purpose only, best regards.</p>

        <div class="container">
            <div class="row">
                <h4>Current Status:</h4>
                <ul>
                    <li><p>Ready algorithm implementation.</p></li>
                    <li><p>Currently working in the web interface.</p></li>
                    <li><p>For the future : implement mobile application working with web services to this.</p></li>
                </ul>
            </div>
        </div>

        <img class="workmen" src="~/Content/workmen.png" alt="Application under work..still" />


    </div>
</div>
