@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h2>My personal information.</h2>
        <img src="~/Content/me.jpg" alt="me" style="width: 200px; padding: 3px; border: dotted; border-radius: 10px;" />
        <address>
            <dl>
                <dt>
                    Name:
                </dt>
                <dd>
                    Roger Rodriguez Texido
                </dd>
                <dt>
                    Phone:
                </dt>
                <dd>
                    (786) 483-9303
                </dd>
                <dt>
                    Address:
                </dt>
                <dd>
                    616 NW 26 AVE #408, Miami, Fl.
                </dd>
                <dt>Email:</dt>
                <dd>
                    <a href="mailto:roger.rodriguez@mypcusa.com">roger.rodriguez@mypcusa.com</a>
                </dd>
            </dl>
        </address>

        <p class="text-info">This site is brought to you under the <span class="text-danger">Asp.net 4.5 plattaform from Microsoft</span>, the compression algorithm was coded by me.</p>

    </div>
</div>