body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*************************MY STYLES BEGIN HERE*********************************************/

.workmen {
   width: 100%;
    max-width: 300px;
}

.container.wide-container {
    max-width:1370px;
}

.jumbotron.center-jumbotron {
    text-align: center;
}

#originalFile, #compressedFile {
    height:120%;
}


.navbar-inverse {
    background-color: #2A2C47;
    border-radius: 0px 0px 20px 20px;
    border-bottom-color: #4CAE4C;
}

.btn-primary {
    background-color: #2A2C47;
    border-color: #4CAE4C;
}

.btn {
    border-radius: 20px 20px;
}

.btn-primary:hover, .btn-success:hover {
    background-color: #291F53;
    border-width: 3px;
    border-color: #357EBD;
}
